<a href="https://colab.research.google.com/github/Applied-Machine-Learning-2021/git-fundamentals-JordanOgbuFelix/blob/first-draft-content/Copy_of_Introduction_To_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Copyright 2020 Google LLC.

In [ ]:
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Introduction to Python

Python is the most common language used for machine learning. It is an approachable yet versatile language that's used for a variety of applications.

It can take years to learn all the intricacies of Python, but luckily you can learn enough Python to become proficient in machine learning in a much shorter period of time.

This Colab is a quick introduction to the core attributes of Python that you'll need to know to get started. This is only a brief peek into the parts of the language that you'll commonly encounter as a data scientist. As you progress through this course, we'll introduce you to the Python concepts you'll need along the way.

If you already know Python, this lesson should be a quick refresher. You might be able to simply skip to the exercises at the bottom of the document.

If you know another programming language, you will want to pay close attention because Python is markedly different than most popular languages in use today. If you are new to programming, welcome! Hopefully this lesson will give you the tools you need to get started with data science.

## Variables
 
One of the most important notions in any programming language is the **variable**. Variables are how we store data we want to use later.
 
When we have an expression like `2 + 3`, Python calculates the value of `5` and then forgets that the value ever existed. We need some way to store the values of expressions so that they can be used later in the program. To do that, we use variables.
 
In the example below, the value of `2 + 3` is stored in the variable `x`.

In [97]:
x = 2 + 3
x

5

Variables store values, and those values can be used in expressions.

In [63]:
x = 2
y = 3
x + y

5

Variable value can also be changed, hence the name *variable*.

In [64]:
x = 123
x = 456
x

456

There are very few rules regarding what you can name a variable. The first character needs to be an alphabetic character. After the first character, any alphanumeric character can be used. Underscores are also okay to use anywhere in a variable name, but stay away from naming a variable with two underscores at the beginning, since Python uses leading double-underscores for internal things. (This will be seen in a later lesson.)

Here are a few valid variable names:

In [65]:
number = 1
my_number = 2
YourNumber = 3
_the_number_four = 4
n5 = 5
NUMBER = 6

number + my_number + YourNumber + _the_number_four + n5 + NUMBER

21

Notice that `number` and `NUMBER` are different variables. Case matters.

Although Python will accept other styles, it is common convention to name constants in all caps (e.g. `THE_NUMBER`) and variables using lower_with_underscore syntax (e.g. `a_number`). See the [Python Style Guide](https://www.python.org/dev/peps/pep-0008/#naming-conventions) for more on naming conventions. Adhere to the guide when you can. It will help others understand your code and it will train you to be able to read other programmers' Python code.

Naming variables is an important aspect of computer programming. Variables serve as a form of documentation within your code. Good names will help your teammates and your future self understand what your code is doing when they are trying to modify it. Take some time to think about your variable names as you create new variables.
 
It is also important to keep your variable naming style consistent. Don't use different naming styles (such as `this_variable` and `thisVariable`) in the same file/package unless you have a valid reason to do so.

## Printing and Strings

### Strings

The **string** data type can contain zero or more characters. In order for Python to know that a string is a value and not part of the code, strings have to be wrapped in quotes.

Some example strings are:

In [98]:
"Python is a useful programming language"

'Python is a useful programming language'

"python is a
useful programming language"

Single and double-quotes are interchangeable, and both occur frequently. In general, try to pick one style of quotation marks and stick with it, unless you need to use that type of quote in a string.

The following string requires the `'` character within the string, so it makes sense to use `"` as the quotation marks.

In [99]:
"I've been learning Python"

"I've been learning Python"

But what if you need to use both `'` and `"` in the same string? In that case you can *escape* the embedded quote using the `\` character. The `\` tells Python to read the character `'` as it is, and not as the end of the quotation.

In [100]:
'They\'ve had a "good" trip'

'They\'ve had a "good" trip'

You probably noticed that the escape character, `\`,appears in the output. This is just a side effect of how Colab is printing the string. We'll learn a cleaner method of printing a string soon.

The triple-quote (`"""` or `'''`) is another type of quote that you can use to create a string. The triple-quote allows you to have a multi-line string. It is often used when writing documentation directly in your code.

In [101]:
"""This is a string
surrounded by three double-quotes
and spanning multiple lines.
"""

'''This is a string
surrounded by three single-quotes
and spanning multiple lines.
'''

'This is a string\nsurrounded by three single-quotes\nand spanning multiple lines.\n'

You can see in the output that the string shows up on one line with `\n` added where the line breaks were. `\n` is a special escape sequence that means "line feed", which is typewriter-speak for moving to the next line. `\t` is another common escape sequence that represents a tab. `\\` adds a backslash `\` to the string.

Strings can be stored in variables. The `+` operator also works on strings, by concatenating them together.

In [102]:
s1 = "The Python "
s2 = "programming"
s3 = " language is easy to learn"
s1 + s2 + s3

'The Python programming language is easy to learn'

The `*` operator also works with strings, resulting in the string repeated multiple times. However, other arithmetic operators such as `-` and `/` don't work with strings.

In [103]:
'ABC ' * 5

'ABC ABC ABC ABC ABC '

Python has a handy built-in way to find the *length* of a string, which is the number of characters in the string.

In [104]:
len("pneumonoultramicroscopicsilicovolcanoconiosis")

45

If you need to extract a specific character from a string, you can specify that character by *indexing* it. Notice that in Python, the first character of a string is at index 0. Most popular programming languages start counting at 0.

In [105]:
"abcdefghijklmnopqrstuvwxyz"[1]

'b'

You can also extract a *slice* of a string. A slice is a portion of a string referenced by the starting and ending index. The starting index is inclusive, and the ending index is exclusive. The slice below returns a four-character string.

In [106]:
alphabet = "abcdefghijklmnopqrstuvwxyz"
alphabet[1:5]

'bcde'

Slices have some handy shortcuts if you want to start at the beginning or go all the way to the end of a string.

In [107]:
alphabet = "abcdefghijklmnopqrstuvwxyz"

alphabet[:3]

'abc'

In [108]:
alphabet = "abcdefghijklmnopqrstuvwxyz"

alphabet[23:]

'xyz'

Strings are *objects* in Python. We won't get into the details of what an object is in this tutorial, other than to mention that objects can have functions and methods called on them using **dot notation**. Below is an example object call on the `alphabet` string, that converts the entire string to uppercase. Notice that the function is called `alphabet.upper()` instead of `upper(alphabet)`, as we saw with the `len()` function.

In [109]:
alphabet.upper()

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

More information on string functionality in Python can be found in the [Python string](https://docs.python.org/3.7/library/string.html) documentation.

### Printing

So far, we have relied on Colab to print out the data that we have been working with. This works fine for simple examples, but it doesn't work if you want to print multiple times in a code snippet.

The **`print`** function allows you to print any data structure to the screen.

In [119]:
my_variable = "I'm a variable"
print(my_variable)
print("Hello class!")
print(12345)
print(123.45)
print(['a', 3, 'element list'])
print(('a', 3, 'element tuple'))
print({"my": "dictionary"})

I'm a variable
Hello class!
12345
123.45
['a', 3, 'element list']
('a', 3, 'element tuple')
{'my': 'dictionary'}

You'll notice that `print` adds a new line to the output every time it is called. We can add an `end=''` argument to the `print` to take away the new line.

In [120]:
print("The magic number is ", end='')
print(42)

The magic number is 42

There is another Python feature that, though not strictly just for printing, is commonly used when printing: **text formatting**.

Text formatting allows you to print multiple values in a single `print` statement and to mix strings and numbers.

In [121]:
print("%s says that the numbers %d and %f sum to %f" % ("Bob", 3, 5.1, 3 + 5.1))

Bob says that the numbers 3 and 5.100000 sum to 8.100000

There is quite a bit going on in the code above, so let's break it down into pieces:
 
* The first string we see in the `print` call is `"%s says that the numbers %d and %f sum to %f"`. This string contains `%s`, `%d`, and `%f` placeholders. These placeholders tell Python that we expect a string (`%s`), integer (`%d`), or floating-point number (`%f`) that we'll put in the string. (A floating-point number is any non-integer number.)
 
* Next we see a percentage sign `%` after the string. This is the string formatting operator. It comes after a string and precedes the tuple containing the data that will populate the placeholders in the string.
 
* Finally comes the tuple containing the data that will populate the placeholders. The data in the tuple should be in the same order that the placeholders appear in the string. For example, the second placeholder is `%d`, and the second item in the tuple is the integer `3`.

There is a more modern and object-oriented formatting function that can be used to achieve the same goal. Notice the placeholders in the string passed to the `print` function are all curly braces. Also, the floating-point values are truncated to the appropriate number of decimal points in the output.

In [122]:
print("{} says that the numbers {} and {} sum to {}".format("Bob", 3, 5.1, 3 + 5.1))

Bob says that the numbers 3 and 5.1 sum to 8.1

When the values you want to print are saved as variables, you can also pass them in the `print` function by typing `f` before the quotation marks and putting the variable names in the curly braces.

In [123]:
name = "Bob"
value1 = 3
value2 = 5.1
print(f"{name} says that the numbers {value1} and {value2} sum to {value1 + value2}")

Bob says that the numbers 3 and 5.1 sum to 8.1

#### Exercise 1

In [124]:
#@markdown Run this cell before starting the exercise.
#@markdown It initializes the values of some hidden variables.

name = "Alex"
favorite_food = "chocolate"

We have hidden the values of variables `name` and `favorite_food` in the cell above. Use a `print` statement to find out their values.

#####**Student Solution**

In [125]:
# Use a print statement to show the values of the hidden variables 
# "name" and "favorite_food".
print("My name is Jordan. I love eating pizza.")

My name is Jordan. I love eating pizza.

name = Jordan 
favorite_food = pizza 
print("My name is {name}. I love eating {favorite_food}."

> Indented block

## Basic Data Types

This section will introduce you to some of the most common data types that you'll encounter. Data types are the foundational building blocks for any Python code.

### Integers

Integers are just whole numbers. This includes positive whole numbers (1, 2, 3, ...), 0, and negative whole numbers (-1, -2, -3, ...). The cell below demonstrates the addition of two integers.

In [110]:
42+8

50

Python can do all the common operations you are familiar with.

**Subtraction**

In [111]:
4-2

2

**Multiplication**

In [112]:
2*3

6

**Exponents**

In [113]:
2**3

8

**Division** is a bit more complicated. If a number doesn't divide evenly, such as `13 / 5`, we get what is called a floating-point number. We will talk about floating-points in a bit, but for now, we can use `//` when dividing, also known as "floor division". This operator removes any decimal remainder (e.g. 14.1 and 14.9 both become 14). To find this remainder, we can use a modulo operator, `%`.

In [114]:
quotient = 14 // 4
remainder = 14 % 4

print(f"Quotient: {quotient}, Remainder: {remainder}")

Quotient: 3, Remainder: 2

Multiple mathematical operations can be combined, as below:

In [115]:
7 ** 7 + 7 * 7 - 7 * 7 // 7

823585

The code above can be a bit difficult to read. How does Python know which numbers to process first?

Python enforces an order of precedence where operations like taking the exponent come before multiplication and division, which come before addition and subtraction. (See this guide to [order of operations](https://www.mathsisfun.com/operation-order-pemdas.html).) There are actually more operators than what we've seen so far and it can be hard to remember the order of operations, so when in doubt you can wrap parentheses around operations to make things clearer.

In [116]:
(7 ** 7) + (7 * 7) - ((7 * 7) // 7)

823585

You can change the order of the operations from the standard order by wrapping different expressions in parentheses. Run the code snippets above and below, and notice the different results despite having the same numbers and operators.

In [117]:
(7 ** (7 + 7)) * 7 - (7 * (7 // 7))

4747561509936

#### Exercise 2

**Four Fours Problem**

Don't spend more than 15 minutes on this problem, but give it a few tries.

Change the operations and add parenthesis as necessary to try and come up with as many numbers between 1 and 42 as you can.

##### **Student Solution**

In [118]:
(5 * 5) + 2 ** 3

33

---

### Floating-Point Numbers

It might seem complicated, but Python has a few ways of representing numbers. You have already seen the integer data type. This section is about floating-point numbers.

The different data types representing numbers have a different place in the world of computing. In some languages, it is quite challenging to move from one type of number to another (e.g. from an integer to a floating-point). In Python, the mixing of integers and floating-point numbers is more fluid. This is great most of the time, but can be problematic at times. It is important to be aware, especially when doing division, when you are working with floating-point numbers or integers.

Earlier we looked at floor division using `//`. The cell below uses regular division using `/`.

In [ ]:
50 / 10

In this case we can see that there is a decimal point (`.`) in the output. This is generally how we'll know that we're working with floating-point numbers. 

You can force operations to be floating-point operations by including one floating-point number in the equation. Note the difference between the following two numbers.

In [ ]:
print(2 + 3)
print(2.0 + 3)

The cell below demonstrates a standard division of two floating-point values.

In [ ]:
322.231 / 0.03

The result `10741.033333333333` is clearly a floating-point number, with a decimal portion of `.033333333333`. Here is what happens when we apply floor division to two floating-point values:

In [ ]:
322.231 // 0.03

Note that the result `10741.0` has a decimal portion of `.0` now, but the decimal point indicates that it is a floating-point value.

Python has a very useful package with more advanced math tools. To import this package, all you need to do is add the following line to your code.

In [ ]:
import math

This package gives us access to a bunch of useful things, such as trigonometric functions like sines and cosines, and mathematical constants like $\pi$ and $e$. To use them, we just type `math.` followed by the specific function we want to use. In Colab, if you've already imported the library, typing `math.` should show a list of available functions.

If you get an error running the following cell, make sure you run the cell above which imports the `math` package.

In [ ]:
math.pi

Here, `math.pi` ($\pi$) is represented as a floating-point number. Since $\pi$ is an irrational number, its value cannot be represented with a decimal, so the value of `math.pi` is not *exactly* the value of $\pi$. However for most use cases, it is close enough.

While computers cannot generate truly random numbers, computer scientists have come up with some very clever ways to get pseudo-random numbers. These numbers aren't perfectly random, but are usually close enough such that it doesn't matter. In Python, it is very easy to get a variety of pseudo-random values using the `random` library. It is imported using the same syntax as seen earlier to import the `math` library.

In [ ]:
import random

As we saw with the `math` library, any time we want to use a function from the library, we need to preface the function name with `random.`. To get a random floating-point value uniformly chosen between 0 and 10, we can type the following command.

If you get an error running the following cell, make sure you run the cell above which imports the `math` package.

In [ ]:
random.uniform(0, 10)

Alternatively, we can get a random value between 0 and 1 using `random.random()` and simply multiply it by 10 to achieve the same thing. There are cases where one method might be preferable over the other, so it is useful to know them both.

In [ ]:
random.random()*10

There are a lot more kinds of random numbers that we can use, but we'll talk about that more a bit later.

Don't be intimidated by the differences and interactions between floating-point numbers and integers. Most of the time you won't need to be concerned about it. However, if you see surprising results when doing math in Python, be sure to double-check the data types of the numbers in your operations.

### Booleans

The boolean is another core data type in Python. Booleans, often abbreviated to "bools", can be thought of as switches, with an "on" and an "off". Bools are represented simply by **True** and **False**.

In [144]:
True

True

In [145]:
False

False

Bools are often combined with logical operators such as **`and`** and **`or`**. Suppose you have two boolean variables, `a` and `b`.

- `a and b` is `True` if and only if both `a` and `b` are `True`, otherwise it is `False`.
- `a or b` is `True` if and only if at least one of `a` or `b` is `True`, otherwise it is `False`.

In [146]:
True and True

True

In [147]:
True and False

False

In [148]:
False and True

False

In [149]:
False and False

False

In [150]:
True or True

True

In [151]:
True or False

True

In [152]:
False or True

True

In [153]:
False or False

False

These expressions of *truthiness* can be expanded beyond two operands:

In [154]:
False and True or True and False or True

True

Just like with numbers, you can change the order in which the boolean operators are conducted, with parentheses.

In [155]:
False and (True or True and False or True)

False

Truthiness can be flipped with the **`not`** operator:

In [156]:
not True

False

In [157]:
not False

True

In most cases, you won't be working directly with **`True`** and  **`False`**. Most of the time, these values will be returned from other expressions. Take for instance the greater than ($>$), less than ($<$), greater than or equal to ($\geq$), and less than or equal to ($\leq$) expressions below:

In [158]:
2 > 1

True

In [159]:
2 < 1

False

In [160]:
1 >= 1

True

In [161]:
2 <= 1

False

There are also checks for equality and inequality:

In [162]:
1 == 2

False

In [163]:
1 != 2

True

Why is "equals" represented as `==` instead of just `=`? As you saw earlier with variables, you can use `=` to assign a value to a variable. Therefore, Python needs a different symbol to check for equality. If you want to assign the variable `a` to the value 3, you can use `a = 3`. Now, if you want to check if it is equal to 3, you can use `a == 3`.

In [164]:
a = 3
print(a)
print(a == 3)
print(a == 2)
a = 2
print(a)
print(a == 2)

3
True
False
2
True

You can combine the logical **`and`**, **`or`**, and **`not`** expressions and the **`>`**, **`>=`**, **`<`**, **`<=`**, **`==`**, **`!=`** expressions. Parentheses are again used to change the order of operation evaluation.

In [165]:
(1 < 2) and (3 == 3) or ((4 > 1) and (not 1 < 2))

True


We can also use the **`>`**, **`>=`**, **`<`**, **`<=`**, **`==`**, **`!=`** expressions with two strings to determine whether strings are in alphabetical order.

In [166]:
'apple' < 'banana'

True

Of note is that capital letters are sorted before lowercase e.g. `'A' < 'a'`.

In [167]:
'Apple' < 'apple'

True

#### Exercise 3

In [168]:
#@markdown Run this cell before starting the exercise.
#@markdown It initializes the values of some hidden variables.

favorite_letter = 'K'
favorite_number = 42

We've hidden the values of variables `favorite_letter` and `favorite_number` (an integer between 0 and 100). Use boolean expressions to find the values of the letter and the number.

##### **Student Solution**

In [169]:
# Edit the expression below until you discover the hidden letter
favorite_letter == 'K'

True

In [170]:
# Edit the expression below until you discover the hidden number
favorite_number <= 62

True

---

## Conditional Decisions

One of the most common patterns in computer science and data science is the `if` statement. You can use `if` to check if a condition is met, and do different things based on whether it is met or not. The `if` statement looks at a boolean value and if that value is `True`, runs some code.

In [140]:
if 1 > 3:
  print("One is greater than three")

if 1 < 3:
  print("One is less than three")

One is less than three

Only the second `print` statement is run, since it is not `True` that `1 > 3` but it is `True` that `1 < 3`.
 
Notice that the two `print` statements are indented beneath each `if` statement. This isn't by accident. Python creates "blocks" of code using the code's indentation level. This indentation can be done with tabs or with spaces, but it must be consistent throughout your code file.
 
 ```
block 1
  block 1.1
    block 1.1.1
 
    block 1.1.1
 
  block 1.1
``` 
 
The code below shows blocks in action.

In [141]:
if False:
  print("This shouldn't print.")
print("But this will always print.")

But this will always print.

In many situations, you will want to run some code if a condition is met, and some different code when it is not. For this, you can use `else`.

In [142]:
if 1 > 3:
  print("Math as we know it is broken!")
else:
  print("Everything looks normal.")

Everything looks normal.

You might also want to check many if conditions and only execute the code if one condition passes. For this, you can use the `elif` clause (short for "else if").

For example, these would be useful if we wanted to do a simple rock, paper, scissors game.

In [143]:
# Choose a random option from the list for the computer player.
import random
computer = random.choice(["rock", "paper", "scissors"]) 

my_choice = "paper" # Feel free to change this.

print(f"You chose {my_choice}!")
print(f"The computer chose {computer}!")

if my_choice == computer:
  print("Draw! Go again!")

elif my_choice == "rock" and computer == "paper":
  print("The computer wins. Try again?")

elif my_choice == "rock" and computer == "scissors":
  print("You smashed the computer's scissors!")

elif my_choice == "paper" and computer == "rock":
  print("You wrapped up the computer's rock!")

elif my_choice == "paper" and computer == "scissors":
  print("The computer wins. Try again?")

elif my_choice == "scissors" and computer == "rock":
  print("The computer wins. Try again?")

elif my_choice == "scissors" and computer == "paper":
  print("You sliced up the computer's paper!")

You chose paper!
The computer chose paper!
Draw! Go again!

## Basic Data Structures

### Lists

So far, the data types we've seen can be thought of as singular entities. We've seen:
- strings
- integers
- floating-points
- booleans

Often, you'll find yourself needing to work with multiple data elements together. There are several options for organizing a collection of data into a data-structure. One option is to use a list.

A list is just a list of multiple values.

In [33]:
[9, 8, 7, 6, 5]

[9, 8, 7, 6, 5]

The values in a list don't need to have the same data type.

In [34]:
[True, "Shark!", 3.4, False, 6]

[True, 'Shark!', 3.4, False, 6]

You can assign a list to a variable.

In [35]:
my_list = [True, "Shark!", 3.4, False, 6]
my_list

[True, 'Shark!', 3.4, False, 6]

You can also index a list and take slices from it, just like you can from a string. Conceptually you can think of "a string" to be a sequence of characters similar to a list.

In [36]:
print(my_list[3])
print(my_list[3:])

False
[False, 6]

Indexing can also be used to selectively replace items in a list.

In [37]:
print(my_list)
my_list[1] = "Wolf!"
print(my_list)

[True, 'Shark!', 3.4, False, 6]
[True, 'Wolf!', 3.4, False, 6]

Lists have other interesting features. For example, there is an in-built method to sort a list.

In [38]:
number_list = [4, 2, 7, 9 ,3, 5, 3, 2, 9]
number_list.sort()
number_list

[2, 2, 3, 3, 4, 5, 7, 9, 9]

You can append an item to a list using `append()`.

In [ ]:
letter_list = ["a", "b", "c"]
letter_list.append("d")
letter_list

You can append multiple items to a list using `extend()`.

In [ ]:
letter_list.extend(["e", "f", "g"])
letter_list

You can even have lists within lists!

In [ ]:
["List 1", ["List 2", 3, 4], False]

Lists-of-lists come in really handy, especially in data science since much of the data that you'll work with will be in a tabular format. In these cases, the internal lists are typically the same size. For example, you might have a list of data points about a customer, such as their age, income, and the amount they spent at your company last month.

In [ ]:
customers = [
    ["C0", 42, 56000, 12.30],
    ["C1", 19, 15000, 43.21],
    ["C2", 35, 123000, 45.67],
]
customers

You can use multiple indexing to get data out of a nested list. In the example below, we pull out the income of our second customer.

In [ ]:
customers[1][2]

We will explore lists more deeply and other data structures in future tutorials.

### Tuples

Tuples look and feel a whole lot like lists in Python. They can contain a sequence of data of any type, including lists and other tuples. The primary difference between lists and tuples is that you can't modify a tuple like you can a list.

Before we get too deep into immutability (whether you can change an object's value), let's take a look at a tuple.

In [ ]:
my_tuple = (1, "dog", 3.987, False, ["a", "list", "inside", 1.0, "tuple"])
my_tuple

The visible difference between a list and a tuple is that we create a tuple with parentheses instead of square brackets.

You can index a tuple and take a slice from a tuple just like you can from a list. 

The only difference is that you can't change the values inside a tuple, like you can with a list. This is useful because Python can perform some optimizations when it knows a data structure can't change. This gives tuples a few powerful properties that lists don't have. We'll take a peek at one of these properties now, and we'll also learn more later in this tutorial.

We will use a property of a tuple to swap the values of two variables. In most languages, you need three variables to swap the value of two variables. Here is an example.

In [ ]:
var1 = "Python"
var2 = "Perl"

tmp = var1
var1 = var2
var2 = tmp

var1, var2

We had to introduce the `tmp` variable to perform the swap, and needed three lines of code. With tuples, we can do this more cleanly.

**Note:** You might have noticed that when we put `var1, var2` at the bottom of the last code section a tuple was printed out. Any sequence of variables separated by commas in Python automatically creates a tuple.

In [ ]:
var1 = "Perl"
var2 = "Python"

(var1, var2) = (var2, var1)

var1, var2

As you can see, swapping variables using tuples is much easier to read and less error-prone than having to use three variables. It uses the property that the values in a tuple are **immutable**.

Tuples come up everywhere when programming in Python. Sometimes you won't even realize that you are working with a tuple, since they are so integrated with the language.

### Dictionaries

Dictionaries are another fundamental data structure in Python. If you have experience with other programming languages, you might have encountered a similar data structure with a different name such as a map, a hashmap, or a hashtable.

Dictionaries contain key/value pairs. The reason this data structure is called a dictionary is because you can "look up" keys and find the corresponding value, just like you can look up a word in the Oxford Dictionary and find its definitions.

Let's take a look at some code that creates a dictionary and accesses a value in the dictionary by key.

In [ ]:
my_dictionary = {
    "pet": "cat",
    "car": "Tesla",
    "lodging": "apartment",
}

my_dictionary["pet"]

Notice that we use the same *indexing* notation that should be familiar to you from strings, lists, and tuples. However, instead of a numeric index, the look up is done by key.

A key can be any non-mutable data value. Keys can be numbers, strings, and even tuples. You can't use a dictionary or list as a key, but you can use them as values.

The data types of the keys do not need to be the same.

In [ ]:
the_dictionary = {
    57: "the sneaky fox",
    "many things": [1, "little list", " of ", 5.0, "things"],
    (8, "ocho"): "Hi there",
    "KEY_ONE": {
        "a": "dictionary",
        "as a": "value"
    },
}

the_dictionary[(8, "ocho")]

The dictionary above is much more unstructured than dictionaries that you'll typically encounter in practice. However, it illustrates the broad range of key types and value types that a dictionary can store.

You can also index many levels down in a dictionary. For example, in `the_dictionary` above, there is a sub-dictionary at the `KEY_ONE` key. Let's pull something out of this dictionary within a dictionary.

In [ ]:
the_dictionary["KEY_ONE"]['as a']

We can also use indexing to access the values of the list that is the value in `the_dictionary` for the key `"many things"`.

In [ ]:
the_dictionary["many things"][1]

Dictionaries, lists, tuples, and other data structures can contain as much nesting as you need.

Dictionaries store their values by key. Only one value can exist per key, so if you write a new value to a key, the old value goes away.

In [ ]:
my_dictionary = {
    "k1": "name",
    "k2": "age"
}

my_dictionary["k1"] = "surname"

my_dictionary

You can add entries to a dictionary by assigning them to a key.

In [ ]:
my_dictionary["k3"] = "rank"

my_dictionary

And you can remove entries from a dictionary using the **`del`** operator.

In [ ]:
del my_dictionary["k2"]

my_dictionary

To see if a key exists in a dictionary, you can use the **`in`** operator. Notice that it returns a boolean value.

In [ ]:
"k2" in my_dictionary

It is advisable to check if a key exists in a dictionary before trying to index that key. If you try to access a key that doesn't exist using square brackets, your program will throw an error and possibly crash.

There is also a safer **`get`** method on the dictionary object. You provide `get` with a key and a default value to return if the key isn't present.

In [ ]:
my_dictionary.get("k2", "There is no 'k2' key value")

For more on dictionaries, check out the [official Python dictionary documentation](https://docs.python.org/3/tutorial/datastructures.html#dictionaries).

We've learned about the most fundamental data structures in Python:
- numbers
- booleans
- lists
- tuples
- dictionaries

We've learned how to store data in variables and how to change data in variables, dictionaries and lists. Each of these data types have more functionality than we have gone over in this tutorial, so please take some time to get a broader idea of what can be done with these data types in Python.
 
There are also many data types that we did not cover. As we encounter the need for other types of data in our study of machine learning and data science, we will introduce and explain some of them.

## `for` Loops

The `for` loop is a powerful tool that lets us look at every item in a data structure in order and perform operations on each element.

In [129]:
my_list = ['a', 'b', 'c']

for item in my_list:
  print(item)

a
b
c

As you can see, the `for` loop executes `print` three times, once for each item in the list.

The `for` loop works for tuples too.

In [130]:
my_tuple = (5, 3, 1, -1, -3, -5)
for x in my_tuple:
  print(x)

5
3
1
-1
-3
-5

Dictionaries are a little more interesting. By default, the loop works by indexing the keys.

In [131]:
my_dictionary = {
    "first_name": "Jane",
    "last_name": "Doe",
    "title": "Dr."
}

for k in my_dictionary:
  print(f"{k}: {my_dictionary[k]}")

first_name: Jane
last_name: Doe
title: Dr.

If only the dictionary's values are of concern to you, it is possible to ask the dictionary to return its values by using the `values()` method.

In [132]:
for v in my_dictionary.values():
  print(v)

Jane
Doe
Dr.

If you want both the keys and the values without needing to lookup up `my_dictionary[k]`, you can ask the dictionary for its `items()`.

In [133]:
for (k, v) in my_dictionary.items():
  print(f"{k}: {v}")

first_name: Jane
last_name: Doe
title: Dr.

You can also use `for` to operate on a string character by character. Each item in a string is a single character.

In [134]:
for c in "this string":
  print(c)

t
h
i
s

s
t
r
i
n
g

If you want to iterate over a list or tuple and need the index of each item, you can use the `range` function along with the `len` function to get the indices of the list or tuple.

In [135]:
for i in range(len(my_list)):
  print(f"{i}: {my_list[i]}")

0: a
1: b
2: c

`range` is a function that returns a sequence of numbers. It can take one argument, two arguments, or three arguments.

When you give one argument to `range`, it is considered to be the end of the range (exclusive).

In [136]:
for i in range(5):
    print(i)

0
1
2
3
4

When you give two arguments to `range`, they are considered to be the start (inclusive) and end (exclusive) of the sequence.

In [137]:
for i in range(6, 12):
    print(i)

6
7
8
9
10
11

When you give three arguments to `range`, they are considered to be the start (inclusive), end (exclusive), and step size of the sequence.

In [138]:
for i in range(20, 100, 10):
    print(i)

20
30
40
50
60
70
80
90

Ranges are lazily evaluated so even very large ranges will not occupy a significant amount of memory.

`for` loops can also be useful for making a list. For example, if we want to generate a list of random numbers, we could use the `random` library within a `for` loop.

In [139]:
import random

random_numbers = []
for i in range(10):
    random_numbers.append(random.randint(0, 10))
print(random_numbers)

[8, 8, 10, 5, 5, 0, 5, 10, 10, 5]

## `while` Loops

The `while` loop allows you to repeat a block of code until some arbitrary condition is met.

In [126]:
counter = 0

while counter < 5:
  print("Not done yet, counter = %d" % counter)
  counter += 1

print("Done, counter = %d" % counter)

Not done yet, counter = 0
Not done yet, counter = 1
Not done yet, counter = 2
Not done yet, counter = 3
Not done yet, counter = 4
Done, counter = 5

`while` loops can be useful in many situations, especially those when you don't know for sure how many times you might need to loop.
 
**Note:** You might have also noticed the `+=` operator in the example above. This is a shortcut that Python provides so that we don't have to write out `counter = counter + 1`. There are equivalents for subtraction, multiplication, division, and more.

### `break`

There are times when you might want to exit a loop before it is complete. For this case, you can use the `break` statement.

In the example below, the `break` statement causes the loop to exit after only five iterations, despite having a range of 1,000,000 numbers to iterate.

In [127]:
for x in range(1000000):
  if x >= 5:
    break
  print(x)

0
1
2
3
4

### `continue`

`continue` is similar to `break`, but instead of exiting the loop entirely, it just skips the current iteration.

Let's see this in action with a loop that prints numbers between 0 and 7 except 4 and 6.

In [171]:
for x in range(10):
  if x == 4 or x == 6:
    continue
  print(x)

0
1
2
3
5
7
8
9

## Functions

Functions are a way to organize and re-use your code. Functions allow you to take a block of your code, give it a name, and then call that code by name as many times as you need to.

Functions are defined in Python using the `def` statement.

In [178]:
def my_function():
  print("I wrote a function")

my_function()
my_function()
my_function()

I wrote a function
I wrote a function
I wrote a function

Standard function definitions always begin with the `def` keyword followed by the name of the function. Function naming follows the same rules as variable naming.

All function definitions are composed of:

- The `def` keyword which tells Python you are about to define a function
- Any arguments that you want to pass to the function, wrapped in parentheses (more details on this below)
- A colon to end the statement

The function's code is indented under the function definition.

The arguments that come between the parentheses hold the names of variables that can be used in the function. Function arguments, also called parameters, are used to provide the function with data.

**Note:** The reason `my_function` above has nothing within the parentheses is because that particular function has no arguments. A function can have zero or more arguments.

In [179]:
def doubler(n):
  print(n*2)

doubler(2)

4

Instead of just printing an output, functions can also return data.

In [180]:
def doubler(n):
  return n*2

print(doubler(2))

4

Functions can return multiple values as a tuple. The following function returns the minimum and maximum (in that order) of the numbers in a list or tuple.

In [181]:
def min_max(numbers):
  min = 0
  max = 0
  for n in numbers:
    if n > max:
      max = n
    if n < min:
      min = n
  return min, max

print(min_max([-6, 78, -102, 45, 5.98, 3.1243]))

(-102, 78)

It is important to note that when you pass data to a function, the function gets a *copy* of the data. For numeric, boolean, and string data types, that means that the function can't directly modify the data you passed in. For lists and dictionaries, it is a little more complicated. The function gets a *copy of the location/address* of the data structure. While the function can't change that address, it *can* modify the data structure.

Let's see some examples to solidify the point. In this first example we can see that the number changer can't make any changes to the variable `my_number`.

In [182]:
def number_changer(n):
  n = 42

my_number = 24
number_changer(my_number)
print(my_number)

24

The same is true for booleans. The function below can't modify `my_bool`.

In [183]:
def bool_changer(b):
  b = False

my_bool = True
bool_changer(my_bool)
print(my_bool)

True

The same is true for strings.

In [184]:
def string_changer(s):
  s = "Got you!"

my_string = "You can't get me"
string_changer(my_string)
print(my_string)

You can't get me

However, lists can be modified. See the example below.

In [185]:
def list_changer(list_parameter):
  list_parameter[0] = "changed!"

my_list = [1, 2, 3]
list_changer(my_list)
print(my_list)

['changed!', 2, 3]

What do you think the code below will do?

In [186]:
def list_changer(list_parameter):
  list_parameter = ["this is my list now"]

my_list = [1, 2, 3]
list_changer(my_list)
print(my_list)

[1, 2, 3]

Functions cannot change the value of the entire list, they can only change individual values within the list.

Dictionaries interact with functions exactly like lists do.

In [187]:
def dictionary_changer(d):
  d["my_entry"] = 100

my_dictionary = {"a": 100, "b": "bee"}
dictionary_changer(my_dictionary)
print(my_dictionary)

{'a': 100, 'b': 'bee', 'my_entry': 100}

In [188]:
def dictionary_changer(d):
  d = {"this is": "my dictionary"}

my_dictionary = {"a": 100, "b": "bee"}
dictionary_changer(my_dictionary)
print(my_dictionary)

{'a': 100, 'b': 'bee'}

So, how can you get a function to modify a number, bool, or string? You can simply assign the return value of the function to the original variable.

In [189]:
def number_changer(n):
  return n + 1

def boolean_changer(b):
  return not b

def string_changer(s):
  return s.upper()

my_number = 42
my_bool = False
my_string = "Python"

my_number = number_changer(my_number)
my_bool = boolean_changer(my_bool)
my_string = string_changer(my_string)

print(my_number)
print(my_bool)
print(my_string)

43
True
PYTHON

###  Pass

`pass` is a Python keyword that is used as a placeholder when code hasn't been written yet. You'll see `pass` often in your exercises as a placeholder for the code you'll need to write.

In [193]:
def do_nothing_function():
  pass

do_nothing_function()

### Exercise 4

Write a function that implements rock, paper, scissors below. Your function should take in the player's choice of rock, paper, or scissors and plays a game against the computer, which chooses randomly. Feel free to copy code from the "Conditional Decisions" section.

#### **Student Solution**

In [202]:
def rock_paper_scissors(player_choice):
  import random
computer = random.choice(["rock", "paper", "scissors"]) 

my_choice = "paper" # Feel free to change this.

print(f"You chose {my_choice}!")
print(f"The computer chose {computer}!")

if my_choice == computer:
  print("Draw! Go again!")

elif my_choice == "rock" and computer == "paper":
  print("The computer wins. Try again?")

elif my_choice == "rock" and computer == "scissors":
  print("You smashed the computer's scissors!")

elif my_choice == "paper" and computer == "rock":
  print("You wrapped up the computer's rock!")

elif my_choice == "paper" and computer == "scissors":
  print("The computer wins. Try again?")

elif my_choice == "scissors" and computer == "rock":
  print("The computer wins. Try again?")

elif my_choice == "scissors" and computer == "paper":
  print("You sliced up the computer's paper!")
  # Add code here that takes in the players choice of rock, paper, or scissors
  # and plays a game against the computer, which chooses randomly.
  # You can copy code from the "Conditional Decisions" section if you like.
  pass

You chose paper!
The computer chose paper!
Draw! Go again!

In [203]:
rock_paper_scissors("rock")
rock_paper_scissors("paper")
rock_paper_scissors("scissors")

---

## Comments

Comments are simply pieces of your code that will be skipped over when the program is running. While this may sound meaningless, comments are a crucial way for you to communicate with readers of your code (which often includes your future self) about what your code does. Do not underestimate the importance of good code commenting!

Python considers the hash (`#`) to be the start of a comment. This hash can be anywhere in a line. Anything after the hash on the same line won't be executed.

Let's look at an example.

In [204]:
# This is a comment used to document.
# If I need more than one line,
# then I need to add more hashes.

print("Hello") # Comments don't have to be at the start of a line

# print("This won't run")

Hello

# More Exercises

## Practice Problems

In case you want to go back and look at the previous exercises, we've made some links here to make it easy to go back and find them.

*   [Printing](#scrollTo=ED0MmXO9Ytkl)
*   [Integers](#scrollTo=fqQQ2FVTN0__)
*   [Booleans](#scrollTo=l1kunoRTl5GQ)
*   [Functions](#scrollTo=o9rgbpgRNRpy)

Once you feel comfortable with the concepts we've covered, you can move on to the challenge problems below.

## Exercise 5

In the code block below, complete the function by making it return the number cubed.

### Student Solution

In [205]:
def cube(n):
  return n**3
print(cube(5))

125

---

## Exercise 6

In the code block below, complete the function by making it return the sum of the even numbers of the provided sequence (list or tuple).

### Student Solution

In [206]:
def sum_of_evens(seq):
  x = 0
  for num in seq:
    if num % 2 == 0 and num > 0:
      x+=num
  return x
print(sum_of_evens([5, 14, 6, -2, 0, 45, 66]))

86

---

## Exercise 7

We've provided a helper function for you that will take a random step, returning either -1 or 1. It is your job to use this function in another function that takes in a starting value `start` and an ending value `end`, and goes on a random walk from `start` until it reaches `end`. Your function should return the number of steps required to reach `end`. (Note that it may help for debugging to print the value of the random walk at each step.)

In [207]:
import random  

def random_step():
  # Returns either -1 or 1 at random 
  return random.choice([-1, 1])

### Student Solution

In [61]:
def random_walks(start, num_steps):
  x = 0
  g = start 
  while g != num_steps:
    g+= random_step()
    x+=1
    print(f"{g}")
  return x
print(random_walks(0, 5))

1
2
3
2
3
2
3
4
5
9

---